<section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container ">
        <div id="alertnq">
        </div>
            <div class="row text-white">
                <h1 class="display-4 py-2 text-truncate">WELCOME
                </h1>
                <h4 class="display-8 py-1 text-truncate">LEARN
                </h4>
                <h1 class="display-7 py-1 text-truncate">TRADING
                </h1>
                <div class="px-2">
                </div>
            </div>
            <button type="button" (click)="tologin()"  class="btn btn-outline-light pull-left mt-3 ml-3 mx-3">
                LOGIN
              </button>
              <button type="button" (click)="tosignup()"  class="btn btn-outline-light pull-left mt-3 ml-3 mx-3">
                SIGNUP  
              </button>
      </div>
    </div>
  </section>
