<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">TradeTutor</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link active text-white"
          aria-current="page"
          style="cursor: pointer"
        >
          Home</a
        >
        <a class="nav-link active text-white" style="cursor: pointer"
          >Portfolio</a
        >
        <a class="nav-link active text-white" style="cursor: pointer"
          >History</a
        >
        <a class="nav-link active text-white" style="cursor: pointer">Funds</a>
      </div>
      <div class="ml-auto d-flex align-items-center">
        <button type="button" class="btn btn-outline-light">Logout</button>
      </div>
    </div>
  </div>
</nav>
<section id="cover" class="min-vh-100 min-vw-100">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget_tape"></div>
    <div class="tradingview-widget-copyright"></div>
  </div>
  <br />
  <!-- TradingView Tape End -->
  <div class="container text-center">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

  </div>

</section>
