<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">TradeTutor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white disabled" aria-current="page" href="#">Home</a>
        <a class="nav-link active text-white" (click)="status()" style="cursor: pointer;">Portfolio</a>
        <a class="nav-link active text-white" style="cursor: pointer;">History</a>
        <a class="nav-link active text-white" (click)="funds()" style="cursor: pointer;">Funds</a>
      </div>
      <div class="ml-auto d-flex align-items-center">
        <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<section id="cover" class="min-vh-100 min-vw-100">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget_tape"></div>
    <div class="tradingview-widget-copyright"></div>
  </div>
  <br>
  <!-- TradingView Tape End -->
  <div class="container text-center">
    <div class="row" style="width: 100%;">
      <div class="col-md-6">
        <div class="column-content">
          <div class="row text-white p-4 imgcontainer">
            <!-- <h1 class="display-4 py-1 text-truncate">ADD BUYING</h1>
            <h4 class="display-8 py-1 text-truncate">AND</h4>
            <h1 class="display-7 py-1 text-truncate">CHECK STATUS</h1> -->
            <img src="assets/bos.png">
            <div class="text-white" *ngIf="isLoadingBuySell">
              <i class="fas fa-spinner fa-spin"></i> Loading...
            </div>
          </div>
          <div class="row form p-4">
            <div class="px-2">
              <form [formGroup]="myForm" (ngSubmit)="add_userdetail(myForm)">
                <div class="form-group --stockname text-white">
                  <label>Stock name</label>
                  <select class="form-control custom-select" formControlName="stock"
                  name="stock"
                  required>
                  <option
                  *ngFor="let stockname of stocknames"
                  value="{{ stockname.sname }}"
                  >
                  {{ stockname.name }}
                  </option>
                  </select>
                </div>
                <div class="form-group --quantity text-white">
                  <label for="floatingSelect">Quantity</label>
                  <input
                  type="number"
                  class="form-control"
                  name="qty"
                  formControlName="qty"
                  min="1"
                  />
                </div>

                <div class="cl-btn">
                  <button
                    type="submit"
                    class="btn btn-success btn-lg mt-3 mx-3"
                    [disabled]="myForm.invalid"
                  >
                    BUY
                  </button>
                  <button
                    type="button"
                    (click)="sellstock(myForm)"
                    [disabled]="myForm.invalid"
                    id="btnsubmit"
                    class="btn btn-danger btn-lg mt-3 ml-3 mx-3 --sell"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample"
                    aria-expanded="false"
                    aria-controls="collapseWidthExample"
                  >
                    SELL
                  </button>
                  <button
                    type="button"
                    (click)="show_price(myForm)"
                    [disabled]="myForm.get('stock')?.invalid"
                    id="btnsubmit1"
                    class="btn btn-primary btn-lg mt-3 ml-3 mx-3 --checkprice"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample1"
                    aria-expanded="false"
                    aria-controls="collapseWidthExample1"
                  >
                    OVERVIEW
                  </button>
                  <!-- <button
                    type="button"
                    (click)="status()"
                    class="btn btn-dark btn-lg mt-3 mx-3 --status"
                  >
                    PORTFOLIO
                  </button> -->

                  <p></p>
                  <div style="min-height: 4px">
                    <div
                      class="collapse collapse-horizontal"
                      id="collapseWidthExample"
                    >
                      <ul class="list-group" id="pl"></ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="text-white" *ngIf="isLoading">
              <i class="fas fa-spinner fa-spin"></i> Loading...
            </div>
            <ng-template [ngIf]="condition">
              
              <div class="row containertwo">
                <table>
                  <thead>
                    <tr class="text-white">
                      <th>Symbol</th>
                      <th>Open</th>
                      <th>High</th>
                      <th>Low</th>
                      <th>Price</th>
                      <th>Prev Close</th>
                      <th>Change %</th>
                    </tr>
                  </thead>
                  <tbody class="text-white">
                    <td>{{ stockData["01. symbol"] }}</td>
                    <td>{{ stockData["02. open"] }}</td>
                    <td>{{ stockData["03. high"] }}</td>
                    <td>{{ stockData["04. low"] }}</td>
                    <td>{{ stockData["05. price"] }}</td>
                    <td>{{ stockData["08. previous close"] }}</td>
                    <td
                      [ngClass]="
                        getChangeClass(stockData['10. change percent'])
                      "
                    >
                      {{ stockData["10. change percent"] }}
                    </td>
                  </tbody>
                </table>
              </div>
              <div id="chart-container" >Chart</div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="text-center"
          style=" padding-bottom: 20px"
        >
          <h1 class="text-white" style=" margin-top: 10%;">NEWS AND UPDATES</h1>
        </div>
        <div class="column-content">
          <div class="blog-container">
            <div
              class="blog-card"
              *ngFor="let content of cardContent"
            >
            <img style="height: 100%; width: auto;" src="assets/idea.png">
              {{ content["title"] }}
              <a target="_blank"  class="read-more-link" href="{{content['url']}}">Read more</a>
            </div>
          </div>
          <!-- <div class="meter-container">
            <div class="meter">
              <span class="label">Bullish</span>
              <span class="label">Neutral</span>
              <span class="label">Bearish</span>
            </div>
          </div>
           -->
        </div>
      </div>
    </div>
  </div>
</section>
